:root {
  --color-primary-5: #F9F9F9;
  --color-primary-10: #F1F1F1;
  --color-primary-15: #C5C5C5;
  --color-primary-20: #999999;
  --color-primary-25: #818181;
  --color-primary-30: #D4D4D4;
  --color-primary-35: #CBCBCB;
  --color-secondary-5: #141416;
  --color-secondary-10: #000000;
  --color-secondary-20: #1C1D20;
  --color-secondary-20-transparent-35: #1C1D2059;
  --color-secondary-20-transparent-8: #1C1D2014;
  --color-medium-5: #676767;
  --color-medium-10: #535353;
  --color-medium-15: #201F1F;
  --color-medium-20: #848586;
  --color-accent-5: #94A3B8;

  --border-width: 0.83px;
  --blur: 3.32px;
}
