.navbar {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    gap: 50px;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    gap: 70px;
  }
}

.link {
  color: var(--color-medium-25);
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 13px;
    line-height: 19px;
    text-transform: capitalize;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
  }
}