.container {
  flex: 1;
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 27px;

  @media (min-width: 1299px) {
    max-width: 1200px;
  }

  @media (min-width: 1920px) {
    max-width: 1600px;
  }
}