.social {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 40px;
  }

  @media (min-width: 1200px) {
    gap: 53px;
  }

  &.large {
    gap: 35px;

    & .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.button {
  width: fit-content;
  height: fit-content;

  &:hover {
    & .icon {
      filter: brightness(200%);
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  object-position: center;
  object-fit: contain;
  transition: 200ms all ease-in-out;
}
