.introImages {
  width: calc(100% + 27px * 2);
  display: flex;
  position: relative;
  height: 290px;
  margin-inline: -27px;

  @media (min-width: 450px) {
    width: 450px;
  }

  @media (min-width: 768px) {
    width: 570px;
    height: 400px;
  }

  @media (min-width: 1200px) {
    width: 720px;
    height: 500px;
  }

  &.visible {
    .first {
      animation-play-state: running;
    }

    .second {
      animation-play-state: running;
    }

    .arrow, .ornament {
      animation-play-state: running;
    }
  }
}

.image {
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.image,
.ornament,
.arrow {
  position: absolute;
}

.first {
  top: 10px;
  left: 30px;
  width: 208.49px;
  height: 223.16px;
  opacity: 0;
  animation: slideInFromLeft 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-play-state: paused;

  @media (min-width: 768px) {
    width: 278px;
    height: 280px;
    top: 13px;
    left: 0;
  }

  @media (min-width: 1200px) {
    width: 391px;
    height: 394px;
  }
}

.second {
  top: 106px;
  left: 259px;
  width: 170.89px;
  height: 182.89px;
  z-index: 5;
  opacity: 0;
  animation: slideInFromLeft 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s forwards;
  animation-play-state: paused;

  @media (min-width: 768px) {
    width: 226px;
    height: 229px;
    left: 305px;
    top: 128px;
  }

  @media (min-width: 1200px) {
    width: 319px;
    height: 322px;
    left: 429px;
    top: 181px;
  }
}

.ornament {
  width: 92px;
  height: 213px;
  left: 328px;
  object-fit: contain;
  opacity: 0;
  animation: fadeIn 1s ease 0.6s forwards;
  animation-play-state: paused;

  @media (min-width: 768px) {
    width: 124px;
    height: 284px;
    left: 400px;
    top: -50px;
  }

  @media (min-width: 1200px) {
    left: 615px;
    top: -50px;
  }
}

.arrow {
  width: 58px;
  height: 56px;
  left: 248px;
  top: 40px;
  opacity: 0;
  animation: fadeIn 1s ease 0.6s forwards;
  animation-play-state: paused;

  @media (min-width: 768px) {
    width: 91px;
    height: 88px;
    left: 285px;
  }

  @media (min-width: 1200px) {
    width: 128px;
    height: 124px;
    left: 425px;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}